﻿@model List<DemoWeb.Models.Product>
@{
    ViewBag.Title = "_Index";
}

<h2>_Index</h2>
<a class="btn btn-success" href="@(Url.Action("CreateProduct"))">Create Product</a>
<ul id="this-ul">
    @*@{
            foreach (var item in Model)
            {
                <li>@(item.Name)</li>
            }
        }*@
</ul>
<button id="btn-trigger">Click me</button>

@section scripts{

    <script>
        $.ajax({
            url: '/demo/getAllProduct',
            method: 'POST',
            data: null,
            success: function (data) {
                var html = '';
                for (var i = 0; i < data.length; i++) {
                    html += '<li>' + data[i].Name + '</li>';
                }
                $('#this-ul').html(html);
            },
            fail: function () {
                alert('Error happen')
            }
        })
        $('#btn-trigger').on('click', function () {
            $.ajax({
                url: '/demo/getProduct',
                method: 'POST',
                data: {
                    product: {
                        Name: 'abc',
                        Id: 1
                    }
                },
                success: function (data) {
                    var html = '';
                    html += '<li>' + data.Name + '</li>';
                    $('#this-ul').html(html);
                },
                fail: function () {
                    alert('Error happen')
                }
            })
        });
    </script>

}
