﻿@model DemoWeb.Models.CreateProductModel
@{
    ViewBag.Title = "CreateProduct";
}

<h2>CreateProduct</h2>


@Html.ValidationSummary("", new { @class = "text-danger" })
<form action="/demo/CreateProduct" method="post">
    <input type="text" name="Name" value="@(Model?.Name)" />
    <button type="submit">Create</button>
</form>